body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

.container-height {
  height: 100%;
}

.main-content {
  border: 5px solid #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.background-image {
  background: url("/images/silver_signs_internet_symbol_62_1920x1080.jpg")
    no-repeat fixed center;
}
